@charset "UTF-8";
/*tudo que em HTML é id em CSS é #(apenas 1 lemento principal)
tudo que em HTML é class em CSS é (pode ter vário elementos class.*/

body {
    background-color: rgb(172, 218, 202);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color: rgb(6, 88, 75);
}
h1#principal {
    text-align: center;
    background-color: rgb(6, 88, 75);
    color: aliceblue;
}
h2 {
    color: cadetblue;
}

.basico{
    color: rgb(6, 88, 75);
    font-weight: bolder;
}
.intermediario{
    color: yellow

}
.avancado{
    color: red

}
.destaque {
    background-color: bisque;
}